body {
    background-color: #2461cc;
    padding: 10px;
    font-family: 'Victor Mono', monospace;
}

.App-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TodoList-main-container {
    width: 90%;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.TodoList-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}