.TodoCounter-main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.TodoCounter-container {
display: flex;
align-self: center;
justify-content: center;
align-items: center;
background-color: white;
height: 70px;
width: 90%;
border-radius: 5px;
}

.TodoCounter {
  color: #2461cc;
  margin: 0;
}