.TodoItem-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TodoItem-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background: #c6e1e6;
  border-radius: 10px;
  padding: 10px;
}

.TodoItem-check {
  width: 30px;
  height: 30px;
  filter: hue-rotate(120deg) brightness(1.2) saturate(1.5);
}

.TodoItem-cancel {
  width: 30px;
  height: 30px;
  filter: hue-rotate(0deg) brightness(1.1) saturate(2);
}

.todoitem-p--complete {
  text-decoration: line-through;
}

.icon-check--active {
  filter: brightness(0) saturate(100%) invert(42%) sepia(82%) saturate(311%) hue-rotate(74deg) brightness(96%) contrast(89%);
}

.icon-delete {
  color: #f44336;
}